.search {
    -webkit-appearance: none;
    border: 1mm ridge #9fa8da;
    outline: none;
    padding: 10px;
    margin-top: 20px;
    width: 200px;
    line-height: 30px;
    margin-bottom: 30px;
    font-size: 16px;
  }
  