.grid-container {
  display: grid;
  grid-template-columns: 48vw 50vw ;
}

.grid-item {
    text-align: center;
}

.left{
  background-color: #eceff1 ;
}

.right{
  background-color: #eceff1  ;
}

@media (min-width: 768px) and (max-width: 1024px) {
  
  .grid-container {
    display: grid;
    grid-template-columns: 95vw ;
  }
}

@media (max-width: 767px) {
  
  .grid-container {
    display: grid;
    grid-template-columns: 95vw ;
  }
}