.header {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    // background-color:#4285F4;
    background: rgb(66,133,244);
background: linear-gradient(143deg, rgba(66,133,244,1) 0%, rgba(66,133,244,1) 0%, rgba(13,71,161,1) 100%);

    .logo-container {
       height: 100%;
       width: auto;
      padding: 10px;
    }
  
    .options {
      width: 80%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      .option {
        padding: 10px 15px;
        color: #ccc;
        text-decoration: none;
        font-size: 1em;
       
        a{
          color: white;
          padding: 0.6rem 1.6rem;
          border: 1px dotted white;
          border-radius: 5px;
          text-decoration: none;
          font-family: 'Montserrat', sans-serif;
          font-weight: 500;
          transition: background-color 0.5s ease;
        }

         a:hover {
          color: #0d47a1 ;
          background-color: white;
        }
      }

      .option:last-child{
        padding-right: 40px;
      }

      .option p:hover {
        color: #fff ;
        text-decoration: none;
      }
    }
  }
  
  @media (max-width: 767px) {
  
    .header .options .option a {
      font-size: 10px;
    }
    .header .options .option a:last-child{
      padding-right: 2px;
    }
  }