.header {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    background-color: black;
  
    .logo-container {
      height: 100%;
      width: 60px;
      padding: 10px;
    }
  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      .option {
        padding: 10px 15px;
        color: #448aff;
        text-decoration: none;
        font-size: 16px;
      }

      .option:last-child{
        padding-right: 40px;
      }

      .option a {
        color: #448aff;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
      }
      
      .option a:hover {
        color: #fff ;
        text-decoration: none;
      }

      .option p:hover {
        color: #fff ;
        text-decoration: none;
      }
    }
  }
  