.footer {
    height: auto;
    width: 100%;
    display: flex;
   flex-direction: column;
    background-color: #263238;
   
    .options {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 20px 10px 20px;
    }

    p{
        font-size: 1em;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 20px;
        margin-left: 20px;
        color: white;
    }

    a{
        font-size: 1em;
        margin-left: 20px;
       color: white;
       text-decoration: none; 
    }
    a:hover{
       color: #4285F4;
    }
}

.adres-block{
    padding-top: 10px;
    padding-right: 40px;
}

@media (max-width: 767px) {
  
    .footer a {
        font-size: 0.5em;
    }

    .footer p {
        font-size: 0.5em;
    }
    
  }