.img-main-page{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center; 
    margin-bottom: 20px;
    margin-top: 20px;
    }

.iac-item{
    background-color: #c5cae9 ;
    margin: 10px;

    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
}

.iac-item p {
    font-size: 22px;
    text-decoration: none;
    color: black;
}

.iac-item:hover {
    transform: scale(1.02);
  }